

@{
    ViewBag.Title = "Try";
}

<h2>Try</h2>

<div class="form-group">
    <label for="sel1">Select list:</label>
    <select class="form-control" id="sel1">
        <option>Gaucher</option>
        <option>another</option>
        <option>More</option>
        <option>More..</option>
    </select>
</div>

<div>
    <label class="radio-inline"><input type="radio" name="optradio" checked>Option 1</label>
    <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
    <label class="radio-inline"><input type="radio" name="optradio">Option 3</label>
</div>

<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
</div>

<select id="age" name="age" style="margin-left:1.5%;height:5%;font-size:25px;width: 300px;font-weight: normal" class="instruction-txt">
    @foreach (string item in ViewBag.age)
            {
        <option value="@item">@item</option>
    }
</select>
<br /><br />

<div class="form-group" style="padding-left:1.5%; font-size: 170%;font-weight: bold">
    Gender
</div>
<select id="gender" name="gender" style="margin-left:1.5%;height:5%;font-size:25px;width: 300px;font-weight: normal" class="instruction-txt">
    @foreach (string item in ViewBag.gender)
            {
        <option value="@item">@item</option>
    }
</select>

<br /><br />

<script>
    $.ajax({
        method: "POST",
        url: "/Home/Sol",
        data: {
            gender: $("#age").val(),
            age: $("#gender").val()
        },
        success: function (data) {
            window.location.replace("/Home/Gide"); //in success - go to another page
        },
        error: function (data) {
            alert("problem");
        }

    });
</script>